/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
  
	padding: 0;
	margin: 0;
}

button, summary {
	cursor: pointer;
}



/**************/
/* TYPOGRAPHY */
/**************/
@font-face {
	font-family: 'normal text';
    src: url('../fonts/FrutigerNeue.normal.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'bold text';
    src: url('../fonts/FrutigerNeue.lightBold.ttf');
    font-weight: bold;
    font-style: bold;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {

	--color-text:#141251;
	--color-accent-text:#1A60DB;
	--color-state-text: #6F579C;

	
	--color-icon:#141251;
	
	--color-border: #E9E8EC;
	--color-border-bottom: #958FA7;
	--color-boxshadow: #958FA7;
	
	--color-background-section: #F3F7FD;
	--color-background: #FFF;
}

@media (prefers-color-scheme:dark) { 
:root {
	--color-text: #cacaca;
	--color-accent-text:#4f7dcd;
	--color-state-text: #a588da;
	
	--color-icon: #cacaca;
	
	--color-border: #cacaca;
	--color-border-bottom: #737373;
	--color-boxshadow: #737373;
	
	--color-background-section: rgb(45, 45, 45);
	--color-background: rgb(30, 30, 30);
} }

/********************/
/* OVER ALL STYLING */
/********************/
body {
	color: var(--color-text);
	font-family: 'normal text', sans-serif;

	background-color: var(--color-background);
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: var(--color-accent-text);
}

a:focus{
	color: var(--color-state-text);
}

section:nth-of-type(2) section a:hover {
	text-decoration: underline;
	color: var(--color-accent-text);
}

main header button:hover {
	text-decoration: underline;
	
	border-bottom: 0.4em solid #141251;
}

svg:hover{
    width: 2em;
    color: var(--color-state-text)
}



/**************/
/* NAVIGATION */
/**************/
nav {
	background-color: var(--color-background);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	transform:translatex(-100%);
	transition: transform 0.3s;
}

nav.toonMenu {
	transform:translatex(0);
}

nav ul {
	list-style: none;
	
	padding: 0em 0.75em 2.25em 0.75em;
}

nav div svg {
	width: 1.5em;
	
	fill: var(--color-icon);
	
	margin: 0;
}

nav div img {
	margin-right: 7em;
	width: 5em;
	height: 1.3em;
}

nav div {
	display: flex;
	align-items: center;
	justify-content: end;
	
	padding: 1em;
}

nav li a {
	display: block;
	padding: 1em 0.5em 1em 0.5em;
	
	text-decoration: none;
	font-size: 0.9em;
	color: var(--color-text);
}


/**********/
/* HEADER */
/**********/
header {
	padding: 0.6em 0.6em 0.6em 0.6em;
	background-color: var(--color-background);
	
	display: flex; 
	align-items: center;
	justify-content: space-between;
	
	top: 0;
	position: sticky;
}

header button {
	display: flex;
	align-items: center;
	
	border: none;
	background-color: var(--color-background);
	
	color: var(--color-icon);
	font-size: 0.9em;
}

header button svg {
	fill: var(--color-icon);
	
	padding-right: 0.5em;
	
	width: 2em;
}

header div svg {
	width: 1.5em;
	
	fill: var(--color-icon);
}

header img {
	width: 5em;
	height: 1.3em;
}

/* Zorgt voor extra margins waar niet moet */
/* header:nth-of-type(1) div svg {
	margin-right: 1em;
} */



/***************/
/* HEADER MAIN */
/***************/

main header {
	position: relative;
	
	height: 16.7em;
	
	background-size: cover;
	background-repeat: no-repeat;	
	background-image: url('../images/bigger.parentpage.schiphol.image.jpeg');
	
	margin: 0;
}

main header.verbergMainHeader {
	z-index: -1;
}

main header div h1 {
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-bottom: 0.3em;
	
	font-size: 2.66em;
	color: var(--color-background);
	font-family: 'bold text', sans-serif;
	text-shadow: 0 0 4px var(--color-text);
}

main header div p {
	display: inline;
	
	padding: 0.5em 0.75em 0.5em 0.75em;
	margin-left: 1.25em;
	
	background-color: var(--color-background);
}

main header div button {
	font-family: 'normal text', sans-serif;
	font-size: 1.15em;
	color: var(--color-background);
	
	padding: 0.9em 1.5em 0.9em 1.5em;
	margin-left: 1.25em;
	display: flex;
	align-items: center;
	
	border: none;
	border-bottom: 0.2em solid #141251;
	background-color: #1A60DB;
}

main header div button svg {
	fill: var(--color-background);
	
	width: 1.5em;
	padding: 0;
}

main header div {
	position: absolute;
	top: 1.75em;
}


/********/
/* FORM */
/********/
form {
	display: flex;
	flex-direction: column;
}

form div {
	display: flex;
	
	margin-bottom: 1.25em;	
}

main > section:nth-of-type(1) {
	padding: 1.25em;
}

section p:nth-of-type(1) {
	padding-top: 0.5em;
	padding-bottom: 1.25em;
	
	font-family: 'bold text', sans-serif;
	font-size: 1.5em;
}

section:nth-of-type(1) form div:nth-of-type(1) input {
	width: 1.5em;
}

form label {
	padding-left: 0.5em;
	padding-top: 0.2em;
}

form label:nth-of-type(1) {
	padding-right: 2em;
}

form select {
	background: #fff url(../images/arrow.down.svg) no-repeat right 1em top 50%;
	width: 100%;
	padding: 1em 0em 1em 1.25em;
	background-color: var(--color-background);

	font-size: 1em;
	color: var(--color-accent-text);
	
	border-radius: 0%;
	border: 0.07em solid var(--color-border);
	box-shadow: 0em 0.05em 0em var(--color-border-bottom);
	appearance: none; 
}


form select::after {
	content: "u"
}

form div:nth-of-type(3) input {
	background: #fff url(../images/search.glass.illustrator.svg) no-repeat right 0.5em top 50%;
	background-size: 2.5em;
	width: 100%;
	background-color: var(--color-background);

	font-size: 1em;
	
	padding: 1em 0em 1em 1.25em;
	border-radius: 0%;
	border: 0.07em solid var(--color-border);
	box-shadow: 0em 0.05em 0em var(--color-boxshadow); 
}

/*******************************/
/* SECTION WITH TEXT AND SVG'S */
/*******************************/
section:nth-of-type(2) {
	padding: 1.25em;
	
	background-color: var(--color-background-section);
}

section:nth-of-type(2) section:nth-of-type(1) {
	padding: 1.25em;
	
	background-color: var(--color-background-section);
}

section:nth-of-type(2) section:nth-of-type(1),
section:nth-of-type(2) section:nth-of-type(2),
section:nth-of-type(2) section:nth-of-type(3) {
	display: flex;
	
	background-color: var(--color-background);
}

section:nth-of-type(2) section:nth-of-type(1) div,
section:nth-of-type(2) section:nth-of-type(2) div,
section:nth-of-type(2) section:nth-of-type(3) div {
	display: flex;
	flex-direction: column;
	
	padding:1.25em;
}

section:nth-of-type(2) section:nth-of-type(1) p,
section:nth-of-type(2) section:nth-of-type(2) p,
section:nth-of-type(2) section:nth-of-type(3) p {
	font-size: 1em;
	font-family: 'normal text', sans-serif;
	
	margin: 0;
	padding-top: 0.5em;
}

section:nth-of-type(2) section:nth-of-type(1) h4,
section:nth-of-type(2) section:nth-of-type(2) h4,
section:nth-of-type(2) section:nth-of-type(3) h4 {
	font-size: 1.3em;
	font-family: 'bold text', sans-serif;
	color: var(--color-accent-text);
}

section:nth-of-type(2) section:nth-of-type(1) svg,
section:nth-of-type(2) section:nth-of-type(2) svg,
section:nth-of-type(2) section:nth-of-type(3) svg {
	width: 20%;
	
	fill: var(--color-accent-text);
}



/*********************/
/* INFORMATION LINKS */
/*********************/
section:nth-of-type(3) {
	padding: 1.25em;
}

section:nth-of-type(3) h2 {
	padding-top: 1em;
	padding-bottom: 0.75em;
	
	font-family: 'bold text', sans-serif;
}

section:nth-of-type(3) a {
	padding-bottom: 0.75em;
	display: block;
	
	color: var(--color-accent-text);
}


section:nth-of-type(3) a:nth-of-type(2) {
	padding-bottom: 0;
}



/*******************************/
/* INFORMATION CARDS FOR USERS */
/*******************************/
section:nth-of-type(4) h2{
	padding: 1.25em 1.25em 0em 0.9em;
	
	font-family: 'bold text', sans-serif;
}

section:nth-of-type(4) article {
	margin: 1.25em;
	box-shadow: 0 0.625em 1.25em 0 var(--color-border);
}

section:nth-of-type(4) article:hover {
	box-shadow: 0.3em 0.325em 0.2em 0 var(--color-accent-text);
}

section:nth-of-type(4) article img {
	width: 21em;
}

section:nth-of-type(4) article p {
	padding: 0 1.25em 1.25em 1.25em;
	margin: 0;
	
	font-family: 'normal text', sans-serif;
	font-size: 1em;
}

section:nth-of-type(4) article h3 {
	padding: 1.25em 1.25em 0.5em 1.25em;
	
	font-family: 'bold text', sans-serif;
}

section:nth-of-type(4) article a {
	display: block;
	padding: 0em 1.25em 1.25em 1.25em;
	
	color: var(--color-accent-text);
}



/*****************/
/* INVALIDE TEXT */
/*****************/
section:nth-of-type(5) {
	padding: 1.25em;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

section:nth-of-type(5) svg {
	width: 3em;
	
	fill: var(--color-accent-text);
	
	margin-right: 1em;
}

section:nth-of-type(5) a {
	color: var(--color-accent-text);
}

section:nth-of-type(5) div h3 {
	font-family: 'bold text', sans-serif;
}
