/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
    padding: 0;
    margin: 0;
}
  
button, summary {
    cursor: pointer;
}
  
  
  
/**************/
/* TYPOGRAPHY */
/**************/
@font-face {
    font-family: 'normal text';
    src: url('../fonts/frutigerneue.normal-webfont.woff'),
         url('../fonts/frutigerneue.normal-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'bold text';
    src: url('../fonts/frutigerneue.lightBold-webfont.woff'),
         url('../fonts/frutigerneue.lightBold-webfont.woff2');
    font-weight: bold;
    font-style: bold;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {

	--color-text:#141251;
	--color-accent-text:#1A60DB;
    --color-state-text: #6F579C;
	
	--color-icon:#141251;
	
	--color-border: #E9E8EC;
	--color-border-bottom: #958FA7;
	--color-boxshadow: #958FA7;
	
	--color-background-section: #F3F7FD;
	--color-background: #FFF;
}

@media (prefers-color-scheme:dark) { 
:root {
    --color-text: #cacaca;
    --color-accent-text:#4f7dcd;
    --color-state-text: #a588da;
        
    --color-icon: #cacaca;
        
    --color-border: #cacaca;
    --color-border-bottom: #737373;
    --color-boxshadow: #737373;
        
    --color-background-section: rgb(45, 45, 45);
    --color-background: rgb(30, 30, 30);
} }
  


/****************/
/* JOUW STYLING */
/****************/

body {
	color: var(--color-text);
	font-family: 'normal text', sans-serif;

	background-color: var(--color-background);
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: var(--color-accent-text);
}

a:focus{
	color: var(--color-state-text);
}

svg:hover{
    width: 2em;
    color: var(--color-state-text)
}

/**************/
/* NAVIGATION */
/**************/
nav {
	background-color: var(--color-background);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	transform:translatex(-100%);
	transition: transform 0.3s;
}

nav.toonMenu {
	transform:translatex(0);
}

nav ul {
	list-style: none;
	
	padding: 0em 0.75em 2.25em 0.75em;
}

nav div svg {
	width: 1.5em;
	
	fill: var(--color-icon);
	
	margin: 0;
}

nav div img {
	margin-right: 7em;
	width: 5em;
	height: 1.3em;
}

nav div {
	display: flex;
	align-items: center;
	justify-content: end;
	
	padding: 1em;
}

nav li a {
	display: block;
	padding: 1em 0.5em 1em 0.5em;
	
	text-decoration: none;
	font-size: 0.9em;
	color: var(--color-text);
}



/**********/
/* HEADER */
/**********/
 body > header {
    padding: 0.6em 0.6em 0.6em 0.6em;
	background-color: var(--color-background);
	
	display: flex; 
	align-items: center;
	justify-content: space-between;
	
	top: 0;
	position: sticky;
}

header button {
	display: flex;
	align-items: center;
	
	border: none;
	background-color: var(--color-background);
	
	color: var(--color-icon);
	font-size: 0.9em;
}

header button svg {
	fill: var(--color-icon);
	
	padding-right: 0.5em;
	
	width: 2em;
}

header div svg {
	width: 1.5em;
	
	fill: var(--color-icon);
}

header img {
	width: 5em;
	height: 1.3em;
}

/* Zorgt voor extra margins waar niet moet */
/* header:nth-of-type(1) div svg {
	margin-right: 1em;
} */



/***************/
/* MAIN HEADER */
/***************/
main header {
    display: flex;
    align-items: center;

	padding: 0;
}

main header.verbergMainHeader {
	z-index: -1;
}

main header div {
    flex-wrap: wrap;
    padding-left: 1.25em;
    padding-top: 1.75em;
    padding-bottom: 0.75em;
}

main header h1 {
	font-size: 2.66em;
	font-family: 'bold text', sans-serif;
    /* Dit is het gradientBlock */
    background-image: linear-gradient(90deg, #546294 0%, #817eaa 50%, #b67745 100%);
   
    /* Dit zorgt ervoor dat het gradientBlock op de text gaat */
    -webkit-background-clip: text;
    
    /* Dit zorgt ervoor dat het gradientBlock zichtbaar is binnen de text */
    -webkit-text-fill-color: rgba(0,0,0,0);
}

main header p {
    margin-bottom: 1em;
}

main header svg {
    max-width: 9em;
}

/**************/
/* OPTION BAR */
/**************/
section:nth-of-type(1) p:hover {
    background-color: var(--color-accent-text);
    color: var(--color-background);
}

main > section:nth-of-type(1) {
    display: flex;
    padding: 1.25em;
}

section:nth-of-type(1) p {
    color: var(--color-accent-text);
    padding: 0.75em 1.25em 0.75em 1.25em;
}

section:nth-of-type(1) div p {
    border-bottom: solid 0.3em var(--color-accent-text);
} 



/**************/
/* INTRO TEXT */
/**************/
section:nth-of-type(2) p {
    font-size: 1.3em;
    line-height: 1.5em;
    padding-right: 1.3em;
}

section:nth-of-type(2) {
    padding-bottom: 2em;
    padding: 1.25em 1.25em 2em 1.25em;
}



/***************/
/* CORONA TEXT */
/***************/
section:nth-of-type(3),
section:nth-of-type(4),
section:nth-of-type(5) {
    padding: 1.25em;
}

section:nth-of-type(3) div p {
    font-family: 'normal text', sans-serif;
    line-height: 1.5em;
}

section:nth-of-type(4) p {
    font-family: 'normal text', sans-serif;
    line-height: 1.5em;
}

/* Padding bottom does not wanna work, fixed by this way */
section:nth-of-type(3) h2 {
    font-family: 'bold text', sans-serif;
    padding-bottom: 0.75em;
}

section:nth-of-type(4) h2 {
    font-family: 'bold text', sans-serif;
    padding-bottom: 0.75em;
}

section:nth-of-type(5) h2 {
    font-family: 'bold text', sans-serif;
    padding-bottom: 0.75em;
}
/* Padding bottom fixed this way ^ */

section:nth-of-type(5) li {
    padding-left: 0.75em;
    margin: 0 0 0 1.25em;
    line-height: 1.5em;
}

/* Aparte styling P vanwege extra padding bij Ol */
section:nth-of-type(5) p {
    display: block;
    font-family: 'normal text', sans-serif;
    line-height: 1.5em;
    margin: 0 0 1em 0;
}



/********************************/
/* SECTION AANKOMENDE REIZIGERS */
/********************************/
article {
    padding: 0 0em 1em 0;
    line-height: 1.5em;
}

article h2 {
    padding: 0 0 0.75em 0;
    font-family: 'bold text', sans-serif;
}

article:nth-of-type(3) {
    padding-bottom: 0;
}

main > section h3 {
    font-family: 'bold text', sans-serif;
    padding-bottom: 0.5em;
}

section:nth-of-type(6) {
    padding: 1.25em;
    background-color: var(--color-background-section);
}


/************/
/* ANIMATIE */
/************/
main > img {
    position: absolute;
    width: 7em;
    z-index: 1;
    animation: vliegtuigImage 4s infinite;
    transform: translate(-100%)
}

.hidden{
   visibility: hidden;
}

@keyframes vliegtuigImage{
    0%{
        transform:translatex(-50%);}
    20%{
        transform:translatex(20%);
    }
    40%{
        transform:translatex(80%);
    }
    60%{
        transform:translatex(180%);
    }
    80%{
        transform:translatex(300%);
    }
     100%{
        transform:translatex(400%);
    }
}


